@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}
.grid-container {
    max-width: 980px;
    margin: auto;
}
nav,
main {
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
}
nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
	position: sticky;
	top: 0;
    z-index: 5;
    background: white;
}
.menu {
    display: none;
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

}
.navbar-left {
    display: flex;
}

.navbar-left ul li a,
.navbar-right ul li a
.navbar-right button {
    padding: 8px;
    border-radius: 8px;
}
.navbar-right button {
    border-radius: 8px;
    padding: 8px;
    width: auto;
    height: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    border: none;
    background-color: transparent;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover,
.navbar-right button:hover {
    border: 1px solid #6d7075;
    color: #6d7075;
}
.mobile-menu {
    background: white;
    position: absolute;
    top: 50px;
    left: 0;
    width: calc(100% - 48px);
    height: 100vh;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;    
}
.mobile-menu a {
    font-weight: bold;
}
.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}
.mobile-menu ul li {
    margin-bottom: 24px;
}
nav .inactive {
    display: none;
}


header {
    padding: 0 40px;
}
.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
    background: url('/assets/img/post-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;    
}
.home-main section {
    display: grid;
    justify-items: center;
    height: auto;
    padding: 0 20px;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
}
header .main-icons-container {
    display: flex;
    height: 90vh;
}
header .main-icons-container .icons{
    display: grid;
    align-self: center;
    justify-self: center;
}

header .main-icons-container .icons a {
    margin-top: 14px;
   
}
header .main-icons-container .icons a:hover {
    transform: scale(1.5);
}
.flaticon-010-linkedin:hover {
    color: #0961b8;
}
.flaticon-003-whatsapp:hover {
    color: green;
}
.flaticon-002-twitter:hover {
    color: #1c93e4; 
}
.flaticon-011-instagram:hover {
    color: #f200d2;
}

header .icons span {
    color: #c2c9d370;
}

.main-text-container {
    align-items: center;
}
header .home-main-tittle {
    font-size: 30px;
    color: black;
    letter-spacing: 10px;
    text-align: center;
    background-image: linear-gradient(90deg, transparent 5%, rgba(255, 255, 255, .6) 10%, rgba(255, 255, 255, .6) 90%, transparent 95%);
    padding: 0 10%;
}
.main-text-container p {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color: #c2c9d370;
}

header .home-main-button {
    width: 200px;
    height: 50px;
    background: linear-gradient(90deg, transparent 5%, rgba(255, 255, 255, .6) 10%, rgba(255, 255, 255, .6) 90%, transparent 95%);
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    border: none;
    }
header .home-main-button a {
    color: black;
    font-size: 18px;
    font-weight: 700px; 
}
header .home-main-button a:hover {
    transform: scale(1.2);
}

main {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    color: #6d7075;
}
main .about-skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}

main h2 {
    font-weight: bolder;
}
main h3 {
    line-height: 2rem;
}
main p {
    line-height: 2rem;
}
.about-me button {
    width: 200px;
    height: 50px;
    background: linear-gradient(90deg, transparent 0%, rgba(80, 77, 77, 0.6) 10%, rgba(150, 144, 144, 0.6) 90%, transparent 99%);
    margin: 1rem 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.about-me button a {
    color: white;
    border-bottom: none;
    align-self: center;
}
.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    text-align: center;
    margin-top: 18.72px;
}
.skills-container .skill img {
    max-height: 50px;
    max-width: 100px;
}
.skills-container .skill p {
    line-height: 0;
    color: black;
}

.services .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    text-align: center;
    margin-top: 18.72px;
    padding: 40px;
}
.services .services-container img {
    max-height: 70px;
    max-width: 150px;
}
.services .services-container h3 {
    color: black;
}
.portafolio {
    margin-bottom: 4rem;
}
.portafolio-container-slider {
    display: flex;
    height: auto;
    overflow-x: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding: 1rem;
}
.portafolio-container-card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 400px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.portafolio-info-container {
    width: 100%;
    height: 100%;
}
.website {
    width: 150px;
    height: 48px;
    align-self: center;
    background-color: linear-gradient(90deg, transparent 0%, rgba(80, 77, 77, 0.6) 10%, rgba(150, 144, 144, 0.6) 90%, transparent 99%);
    border-radius: 4px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem; 
    border: none;
    left: calc(50% - 80px);
    cursor: pointer;
    align-self: center;
    margin-top: 70%;
}
.one {
    background-image: url(./assets/img/batabit-desktop.png);
}
.two {
    background-image: url(./assets/img/cake-shop-desktop.png);
}
.three {
    background-image: url(./assets/img/YardSale-Tienda-online-mobile.png);
}
.four {
    background-image: url(./assets/img/Travels.png);
}
.one,
.two,
.three,
.four {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.portafolio-container-card:hover {
    padding: 20px 40px;
    opacity: 0.5;
}
.contact {
    display: flex;
    flex-direction: column; 
}
.contact-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 3rem;
} 
.contact-items .contact-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-items img {
    max-height: 70px;
    max-width: 150px;
    object-fit: contain;
}
@media (max-width: 1100px) {
    .portafolio-container-slider {
        overflow-x: scroll;
    }
}
@media (max-width: 840px) {
    .home-main {
        display: flex;
        flex-direction: column-reverse;
        height: 90vh;
    }
    header .main-icons-container {
        display: grid;
        height: auto;
    }
    header .main-icons-container .icons {
        display: flex;
        height: 10vh;
    }
    header .main-text-container {
        height: 90vh;
    }
    main {
        padding: 0 40px;
    }
    .services .services-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
    main .about-skills-container {
        display: flex;
        flex-direction: column;
    }
    .skills-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
@media (max-width: 640px) {
    .menu {
      display: block;
    }
    .navbar-left ul {
      display: none;
    } 
    .desktop-menu {
        display: none;
    }
    .contact-items {
        grid-template-columns: 1fr 1fr;
    }
    .contact-items img {
        max-height: 50px;
        max-width: 120px;
        object-fit: contain;
    }
}
@media (min-width: 641px) {
    .mobile-menu {
        display: none;
    }
}
@media (max-width: 480px) {
    nav {
        padding: 0 20px;
    }
    header {
        padding: 0;
    }
   
    main {
        padding: 0 20px;
    }
    
    
}